{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1>Opprett nytt arrangement</h1>

        <!-- VIKTIG: enctype for filopplasting -->
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="form-group mt-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>

            <div class="form-group mt-3">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control") }}
            </div>

            <div class="form-group mt-3">
                {{ form.date.label(class="form-label") }}
                {{ form.date(class="form-control") }}
            </div>

            <div class="form-group mt-3">
                {{ form.location.label(class="form-label") }}
                {{ form.location(class="form-control") }}
            </div>

            <div class="form-group mt-3">
                {{ form.image.label(class="form-label") }}
                {{ form.image(class="form-control") }}
            </div>

            <div class="form-group mt-4">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}